.container {
    margin-top: 3rem;
}

.text {
    color: #666;
}

.customHr {
    height: 8px;
    width: 50px;
    background-color: #007bff;
    border-radius: 50px;
}

.contactButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.contactButton:hover {
    transform: translateY(-5px);
}

.skillBox {
    display: inline-block;
    padding: 5px 15px;
    color: #666;
    background-color: #e0e0e0;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 1rem;
}