.footer {
    background-color: black;
    color: white;
    padding: 2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.end {
    text-align: center;
}
.socials a {
    margin: 1rem;
}
.row h4 {
    margin-bottom: 2rem;
}